
/* Global Styles_________________________________*/

html {
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(249, 249, 249);
  margin: 0;
  font-family: 'Tajawal',Helvetica,Arial,sans-serif;
  padding: 0;
}

.centerAlign{
  display: flex;
  justify-content: center;
}
 
.h2{
  font-size: 24px
}

#lensamaLogo{
  height: 20px;
}

#lensamaLogoLi #lensamaLogo{
  background-size: cover;
  background-position: center center;
}

.navBarContainer{
  /* box-shadow: 0 1px 3px 0 rgba(12, 7, 154, 0.2); */
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 5rem;
  position: sticky;
  top: 0;
  margin-top: 1em;
  align-items: center;
}

.navBarContainer, .footerContent{
  width: 95%;
}

.nav1Container a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(137, 136, 136);
  padding: 0.4em 1.2em;
}

.nav2Container li{
  margin-left: 1em;
}

.navBarContainer .flexRow{
  align-items: center;
}

.nav1Container a:hover{
  background-color: rgb(242, 238, 238);
  color: black;
}

.nav1Container, .nav2Container{
  margin-right: 2em;
}

.nav2Container{
  width: 55%;
  padding: 0;
}

#lensamaLogoLi{
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: black;
}




/* other styles........................... */
.mainContent {
  /* display: flex; */
  /* justify-content: center; */
  height: 100vw;
  max-width: 85%;
  text-align: center;
  margin: auto;
  padding: 0;
  color: black;
}

.bannerContainer{
  /* width: 100%; */
  margin-top: 2em;
  background-color: rgb(243, 243, 243);
  padding-left: 2.5em;
}

#bannerContainer{
justify-content: space-between;
}

.banner1Container{
  /* padding: 4em 0; */
  text-align: left;
  vertical-align: auto;
  margin: auto 0;
  width: 40%;
  height: 100%;
}

.bannerText h3{
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: bold;
}

.notBold{
  font-weight: 100;
}

.smallFont{
  font-size: 16px;
  font-weight: 500;
  color: hwb(0 65% 33%);
  line-height: 25px;
}

.bannerText button{
  padding: 1.4em;
}

.bigText{
  font-size: 50px;
  font-weight: 500;
}

.watchesTopPad{
  padding-top: 5em;
  align-items: center;
}

.watchesTopPad a{
  padding-top: 0.5em;
  padding-bottom: 0;
  text-decoration: underline;
}

#watchImgContainer{
  padding: 0;
  padding: 20px;
  transition: .5s ease-in-out;
}

.watchText, .watchBrand{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: rgb(83, 82, 82);
}

.cartHeaderContainer{
  align-items: center;
}

.addToCartBtn{
  border: none;
  margin: 0;
  height: 40px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.addToCartBtn:hover{
  width: 95%;
}

.deleteCartItemBtn{
  border-radius: 5px;
}

.cartContainer{
  margin: auto;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  z-index: 1;
}

.cart{
  width: 50vw;
  max-height: 100vh;
  background-color: white;
  overflow-y: 'scroll';
}

.cartHalf{
  border: none;
  cursor: auto;
  min-height: 100vh;
  width: 65vw;
  background-color: transparent;
}

.cartMiniContainer{
  height: 100vh;
  box-shadow: 0 0 3px rgba(12, 7, 154, 0.2);
  padding: 2em 30px;
  min-width: 35vw;
}

.flex{
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boxShadow1{
  height: 80%;
  border: 1px solid rgb(226, 223, 223);
  box-shadow: 0 1px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  justify-content: space-between;
}

.boxShadow1 .deleteCartItemBtn{
  border: 1px solid rgb(193, 191, 191);
  background-color: white;
  margin: auto 3px;
  height: 30px;
  width: 30px;
}

.boxShadow1 p{
  margin-top: auto;
  margin-bottom: auto;
}

.boxShadow1 img{
  margin: 5px 0 5px;
}

.alignCenter{
 margin-top: auto;
 margin-bottom: auto;
}

.cartFooter{
  min-width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 10px;
  height: 50px;
}

.cartFooter button{
  background-color: rgb(11, 11, 11);
  color: white;
  border: none;
  padding: 0px 25px;
  transition: 0.5s ease;
}

.cartFooter button:hover{
  border-radius: 8px;
}

.cartFooter button h3{
  margin: 0;
}

.cartBtns{
  height: 50%;
  border: 1px solid rgb(241, 237, 237);
}

.cartBtns button{
  background-color: white;
  border: 1px solid rgb(228, 226, 226);
  padding: 8px;
  color: rgb(77, 76, 76);
  font-size: 12px;
}

.deleteCartItemBtn:hover, .cartBtns button:hover{
  background-color: rgb(238, 235, 235);
  border-radius: 0.5px;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.flexRow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.userDetailsContainer div{
  color: rgb(61, 60, 60);
  margin-left: 1em;
}

.userDetailsContainer:last-child button{
  color: rgb(61, 60, 60);
  border: 1px solid rgb(242, 237, 237)
}

.userDetailsContainer:last-child button:hover{
  background-color: rgb(233, 232, 236);
  text-decoration: underline;
}

img{
  object-fit: cover;
}

ul{
  list-style-type: none;
}

#cartIcon{
  position: relative;
  border: none;
}

#cartIconQuantity{
  height: 18px;
  width: 18px;
  position: absolute;
  padding: 0;
  padding-top: 3.5px;
  border-radius: 50%;
  bottom: 20px;
  right:-7px;
  background: red;
  color: white;
  font-size: 11px;
  margin: 0;
}

.placeholder{
  border: 1px solid rgb(235, 233, 233);
  width: 20em;
  font-size: 13px;
}

#quantityField{
  color: gray;
}

.sign{
  height: 100%;
  width: 3em;
  border: 1px solid rgb(226, 223, 223);
}

.sign:hover{
  background-color: rgb(222, 220, 220);
}

.nav2Padding{
  padding: 1em;
}

.nav2RightMargin{
  margin-right: 3em;
}

.signInBtn, .signUpBtn, .signInpageBtn{
  font-size: smaller;
  padding: 0.8em;
}

.signInBtn{
  color: gray;
  background-color: white;
  border: white;
}

.signUpBtn, .bannerText button, .signInpageBtn, .signInBtn:hover{
  background-color: rgb(17, 17, 17);
  color: white;
  border: rgb(115, 114, 114);
}

.signUpBtn:hover{
  background-color: rgb(59, 59, 59)
}

.signingBtnContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signingBtnContainer button{
  padding: 5em;
}

.mainSigningContainer{
  height: 70vh;
  margin: 2em auto 8em;
  width: 60%;
  border: 1px solid rgb(202, 202, 203);
  position: relative;
}

.topSigningContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
  min-height: 74%;
}

.bottomSigningContainer{
  border-top: 1px solid rgb(202, 202, 203);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainSigningContainer small{
  margin: 0 1.5em;
  color: rgb(74, 73, 73);
}

.leftSigningContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
}

.formContainer{
  display: flex;
  flex-direction: column;
}

.formContainer input{
  border:1px solid rgb(202, 202, 203);
  padding: 1.5em;
  height: 38px;
  margin: 10px 0;
}

.signBtnContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.signBtnContainer small{
  text-decoration: underline;
}

.rightSigningContainer{
  width: 45%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.rightSigningContainer div{
  width: 70%;
  height: 15%;
  margin-top: 1em;
}

.signBtnContainer button{
  color: black;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.signBtnContainer button:hover{
  color: white;
}

.gitHubLink, .googleLink, .fbLink{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.gitHubLink:hover, .googleLink:hover, .fbLink:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
  
/* .gitHubLink:active, .googleLink:active, .fbLink:active {
  background-color: #eeeeee;
} */
  
.fbLink{
  background-color: rgba(69, 102, 251, 0.95);
}

.gitHubLink{
  background-color: rgb(37, 37, 37);
}

.googleLink{
  border: 1px solid rgb(202, 202, 203);
  background-color: white;
}

.googleLink small{
  color: black;
}

.fbLink small, .gitHubLink small{
  color: white;
}

#watchImgContainer{
  padding: 0;
  width: 330px;
  height: 280px;
  border: 1px solid rgb(227, 226, 226);
  text-decoration: none;
  margin-top: 1.5em;
}

.mainWatchImgContainer{
  background-color: rgb(246, 245, 245);
  width: 100%;
  height: 70%;
}

.watchImgContainer p{
  margin-left: 0;
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}

.mainWatchImg{
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.productContainer{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2em;
  border: 1px solid rgb(211, 209, 209);
}

.productContainer .productMainImg{
  border-left: 1px solid rgb(211, 209, 209);
}

.productMainImg{
  position: relative;
}

.productMainImg img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.productContainer div{
  width: 50%;
}

#miniProductImagesContainer{
  border-right: 1px solid rgb(211, 209, 209);
  border-collapse: collapse;
  margin-right: 0.3em;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

#miniProductImagesContainer div{
  border: 1px solid rgb(211, 209, 209);
  margin: 5%;
  width: 90%;
}

.productDescriptionContainer{
  background-color: rgb(255, 255, 255);
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDescriptionContainer div{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.productDescription button{
  margin-left: 1.2em;
}

#backToShopBtn{
  font-size: 15px;
  color: rgb(61, 61, 61);
  margin-left: 1em;
}

#backToShopBtnContainer{
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

.footer{
  width: 100%;
  background-color: rgb(237, 233, 233);
  bottom: 0;
  height: 10em;
  display: flex;
  margin-top: 5em;
  justify-content: center;
}

.footerContent{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
}

#lensamaLogoFooter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#lensamaLogoFooter p{
  margin-top: 0.8em;
}

.lensamaLogo2, #lensamaLogo2{
  width: 80px;
  height: 40px;
}

#lensamaLogo2{
  margin-right: 0.5em;
}

.footer a{
  text-decoration: underline;
}

#footerContactContainer > *, #footerTechContainer > *{
  margin: 0;
  padding: 0;
}

#footerContactContainer h3, #footerContactContainer img{
  text-align: center;
}

.bottomSigningContainer a:hover{
  text-decoration: underline;
}

.flexRow2{
  /* background-color: red; */
  width: 90%;
  margin: auto;
  /* justify-content: space-around; */
}

/* .checkOutHeaderLargeContainer{
  width: 100%;
  position: absolute;
  background-color: red;
  top: 20%;
  left: auto;
  margin-bottom: 10em;
} */

.checkoutHeaderContainer{
  z-index: -1;
  margin: auto;
  width: 40%;
  position: relative;
  height: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.checkoutHeaderItemContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* align-items: flex-end; */
}

.lineThroughCheckoutHeader{
  position: absolute;
  width: 87%;
  height: 2px;
  background-color: rgb(225, 225, 225);
  top: 29%;
  left: 50%;
  transform: translate(-48%, -38%);
  z-index: -1;
}

/* .checkoutHeaderItemContainer:last-child{
  align-items: flex-end;
} */

.checkoutStepNumber{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 225, 225);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.checkoutHeaderMiniContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -38%);
}

.checkoutStep1Container{
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.minicheckoutStep1Container{
  width: 60%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.minicheckoutStep1Container .cartItemsContainer{
  width: 100%;
  /* overflow-y: visible; */
}

.minicheckoutStep1Container .boxShadow1{
  margin-top: 20px;
  height: 90px;
}

.minicheckoutStep1Container{
  margin-top: 5em;
}

.minicheckoutStep1Container .flex{
  max-height: 100%;
}

.minicheckoutStep1Container .sign{
  max-height: 50%;
}

.minicheckoutStep1Container .cartFooter{
  width: 80%;
}

#continueShopBtn{
  background-color: rgb(231, 233, 235);
  color: rgb(55, 54, 54);
}

#continueShopBtn:hover{
  text-decoration: underline;
}

.checkoutBodyContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  min-width: 100%;
}

.checkoutFormContainer form{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2em;
}

.checkoutFormContainer{
  margin: 0;
  padding: 0;
  margin-top: 2em;
}

.checkoutFormContainer div{
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: space-between;
}

.checkoutFormContainer input{
  padding: 0.8em;
  margin-top: 0.4em;
  border: 1px solid rgb(193, 192, 192);
}

.checkoutFormContainer small, .checkoutTotalDesc{
  padding-left: 0.8em;
  color: rgb(130, 129, 129);
  font-size: 11px;
  font-weight: 700;
}

#shippingOptionContainer{
  width: 50%;
  border: 1px solid rgb(220, 218, 218);
  background-color: rgb(242, 240, 240);
  padding: 0.8em 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 0.3em;
}

#shippingOption{
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
  margin: 0;
}

#shippingOption input{
  margin: 0;
}

#shippingOptionContainer form{
  margin: 0;
  width: 65%;
}

#shippingOptionContainer span{
  color: rgb(114, 113, 113);
  font-size: x-small;
}

#checkoutStep2TotalContainer{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  width: 48%;
  margin: auto;
  margin-top: 2em;
}

.step2totalMiniContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkoutTotalDesc{
  margin-right: 2em;
  width: 90%;
  text-align: end;
}

.checkoutStep2Amount{
  width: 10%;
  text-align: end;
}

.checkoutTotalDesc h2{
  margin: 0;
  padding: 0;
}

.checkoutBtnsContainer{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 1em;
}

.checkoutBtnsContainer a{
  background-color: rgb(231, 233, 235);
  border: 1px solid rgb(231, 233, 235);
  padding: 1em;
  color: rgb(97, 97, 98);
}

#checkoutNextStepBtn{
  background-color: black;
  color: white;
}

.watchText h3{
  margin: 0;
  color: black;
}

.watchText, .watchBrand{
  text-align: left;
  margin-left: 0.5em;
}


