


/* Global Styles_________________________________*/

html {
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  /* position: relative; */
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
}


 
  

#lensimaLogo{
  width: 40px;
  height: 40px;
}

.greyBackground{
  background-color: rgb(224, 226, 227);
  bottom: 0;
  width: 100%;
}

.navbarContainer{
  height: 4rem;
  position: sticky;
  top: 0;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}


footer{
 
}




/* other styles........................... */

.mainContent {
  height: 100vw;
  max-width: 75%;
  text-align: center;
  vertical-align: auto;
  margin: auto;
  padding: 0;
  color: black;
}

.navbar{
  width: 90%;
}

.cart{
  /* display: none; */
  transition: display 2s;
  /* position: 'fixed'; */
  background-color: 'grey';
  width: 50vw;
  overflow-y: 'scroll';
  height: 100%;
  margin: auto;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.cartContainer{
  height: 100vh;
}

.flexRow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow2{
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

img{
  object-fit: cover;
}

ul{
  list-style-type: none;
}

#cartIcon{
  position: relative;
}

#cartIconQuantity{
  height: 20px;
  width: 20px;
  position: absolute;
  padding: 0;
  padding-top: 3.5px;
  border-radius: 50%;
  bottom: 20px;
  right:-10px;
  background: red;
  color: white;
  font-size: 11px;
  margin: 0;
}

#watchImgContainer{
  width:320px;
  height:300px;
  border: 1px solid rgb(211, 209, 209);
  text-decoration: none;
}
