
/* Global Styles_________________________________*/

html {
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

.centerAlign{
  display: flex;
  justify-content: center;
}
 
.h2{
  font-size: 24px
}

#lensimaLogo{
  width: 40px;
  height: 40px;
}

.navBarContainer{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 4rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.navBarContainer, .footer{
  width: 90%;
}

.nav1Container a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(83, 82, 82);
  padding: 0.4em 1.2em;
}

.nav2Container li{
  margin-left: 1em;
}

.navBarContainer .flexRow{
  align-items: center;
}

.nav1Container a:hover{
  background-color: rgb(242, 238, 238);
  color: black;
}

.nav1Container, .nav2Container{
  margin-right: 2em;
}

#lensimaLogoLi{
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: black;
}




/* other styles........................... */

.mainContent {
  height: 100vw;
  max-width: 75%;
  text-align: center;
  vertical-align: auto;
  margin: auto;
  padding: 0;
  color: black;
}

.notBold{
  font-weight: 300;
}

.bannerContainer{
  padding: 0;
  padding-top: 1em;
}

.banner1Container{
  padding: 4em 0;
  text-align: left;
  vertical-align: auto;
  margin: auto 0;
  width: 50%;
}

.bannerText h1{
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 500;
}

.smallFont{
  font-size: 16px;
  font-weight: 500;
  color: rgb(62, 62, 62);
  line-height: 25px;
}

.bannerText button{
  padding: 1.4em;
}

.bigText{
  font-size: 50px;
  font-weight: 500;
}

.watchesTopPad{
  padding-top: 5em;
  align-items: center;
}

.watchesTopPad a{
  padding-top: 0.5em;
  padding-bottom: 0;
  text-decoration: underline;
}

#watchImgContainer{
  padding-bottom: 2em;
  padding: 20px;
  transition: .5s ease-in-out;
}

.watchText{
  font-size: 15px;
  font-weight: 500;
  color: rgb(83, 82, 82);
}

.cartHeaderContainer{
  align-items: center;
}

.addToCartBtn{
  border: none;
  border-radius: 5px;
  margin: 0;
  color: white;
  height: 40px;
  width: 45%;
  background-color: rgb(50, 50, 50);
  transition: 0.5s ease-in-out;
}

.addToCartBtn:hover{
  width: 48%;
}

.deleteCartItemBtn{
  border-radius: 5px;
}

.cartContainer{
  margin: auto;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  z-index: 1;
  /* transition: 4s ease-in; */
}

.cartItemsContainer{
  overflow-y: scroll;
}

.cart{
  width: 35vw;
  max-height: 100vh;
  background-color: white;
  overflow-y: 'scroll';
}

.cartHalf{
  border: none;
  cursor: auto;
  min-height: 100vh;
  width: 65vw;
  background-color: transparent;
}

.cartMiniContainer{
  height: 100vh;
  box-shadow: 0 0 0 3px rgba(12, 7, 154, 0.2);
  padding: 2em 30px;
  min-width: 35vw;
}

.flex{
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boxShadow1{
  height: 80%;
  border: 1px solid rgb(226, 223, 223);
  box-shadow: 0 1px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  justify-content: space-between;
}

.boxShadow1 .deleteCartItemBtn{
  border: 1px solid rgb(193, 191, 191);
  background-color: white;
  margin: auto 3px;
  height: 30px;
  width: 30px;
}

.boxShadow1 p{
  margin-top: auto;
  margin-bottom: auto;
}

.boxShadow1 img{
  border: 1px solid rgb(114, 111, 111);
  margin: 5px 0 5px;
}

.alignCenter{
 margin-top: auto;
 margin-bottom: auto;
}

.cartFooter{
  /* background-color: rgb(194, 32, 32); */
  display: flex;
  flex-direction: row;
  min-width: 30vw;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}

.cartFooter button{
  background-color: rgb(11, 11, 11);
  color: white;
  border: none;
  padding: 0px 30px;
  transition: 0.5s ease;
}

.cartFooter button:hover{
  border-radius: 8px;
}

.cartBtns{
  height: 50%;
  border: 1px solid rgb(241, 237, 237);
}

.cartBtns button{
  background-color: white;
  border: 1px solid rgb(228, 226, 226);
  padding: 8px;
  color: rgb(77, 76, 76);
  font-size: 12px;
}

.deleteCartItemBtn:hover, .cartBtns button:hover{
  background-color: rgb(238, 235, 235);
  border-radius: 0.5px;
}
.show{
  display: block;
}

.hide{
  display: none;
}

.flexRow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

img{
  object-fit: cover;
}

ul{
  list-style-type: none;
}

#cartIcon{
  position: relative;
  border: none;
}

#cartIconQuantity{
  height: 18px;
  width: 18px;
  position: absolute;
  padding: 0;
  padding-top: 3.5px;
  border-radius: 50%;
  bottom: 20px;
  right:-7px;
  background: red;
  color: white;
  font-size: 11px;
  margin: 0;
}

.placeholder{
  border: 1px solid rgb(219, 214, 214);
  font-size: 13px;
}

#quantityField{
  color: gray;
}

.sign{
  height: 100%;
  width: 3em;
  border: 1px solid rgb(226, 223, 223);
}

.sign:hover{
  background-color: rgb(222, 220, 220);
}

.nav2Padding{
  padding: 1em;
}

.nav2RightMargin{
  margin-right: 3em;
}

.signInBtn, .signUpBtn, .signInpageBtn{
  font-size: smaller;
  padding: 0.8em;
}

.signInBtn{
  color: gray;
  background-color: white;
  border: white;
}

.signUpBtn, .bannerText button, .signInpageBtn, .signInBtn:hover{
  background-color: rgb(17, 17, 17);
  color: white;
  border: rgb(115, 114, 114);
}

.signUpBtn:hover{
  background-color: rgb(59, 59, 59)
}

.signingBtnContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signingBtnContainer button{
  padding: 5em;
}

.mainSigningContainer{
  height: 70vh;
  margin: 2em auto 8em;
  width: 60%;
  border: 1px solid rgb(202, 202, 203);
  position: relative;
}

.topSigningContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
  min-height: 74%;
}

.bottomSigningContainer{
  border: 1px solid rgb(202, 202, 203);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainSigningContainer small{
  margin: 0 1.5em;
  color: rgb(74, 73, 73);
}

.leftSigningContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
}

.formContainer{
  display: flex;
  flex-direction: column;
}

.formContainer input{
  border:1px solid rgb(202, 202, 203);
  padding: 1.5em;
  height: 38px;
  margin: 10px 0;
}

.signBtnContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.signBtnContainer small{
  text-decoration: underline;
}

.rightSigningContainer{
  width: 45%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.rightSigningContainer div{
  width: 70%;
  height: 15%;
  margin-top: 1em;
}

.signBtnContainer button{
  color: black;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.signBtnContainer button:hover{
  color: white;
}

.gitHubLink, .googleLink, .fbLink{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fbLink{
  background-color: rgba(69, 102, 251, 0.95);
}

.gitHubLink{
  background-color: rgb(37, 37, 37);
}

.googleLink{
  border: 1px solid rgb(202, 202, 203);
  background-color: white;
}

.googleLink small{
  color: black;
}

.fbLink small, .gitHubLink small{
  color: white;
}

#watchImgContainer{
  width:300px;
  height:280px;
  border: 1px solid rgb(211, 209, 209);
  text-decoration: none;
  margin-top: 1.5em;
}

button{
  cursor: pointer;
}

.mainWatchImg{
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.productDescription{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.productDescription button{
  margin-left: 1.2em;
}

#backToShop{
  font-size: 15px;
  color: rgb(61, 61, 61);
}

.footer{
  background-color: white;
  bottom: 0;
  height: 8em;
  display: flex;
  margin: auto;
  margin-top: 20em;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
}

.footer a{
  text-decoration: underline;
}

.productContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}

.productContainer div{
  width: 50%;
}

#backToShop{
  text-decoration: underline;
}

.bottomSigningContainer a:hover{
  text-decoration: underline;
}
